# node
node_modules/
dist/
.temp/
.cache/
.vite/

# system
.DS_Store
Thumbs.db

# env
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vscode
.vscode/

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# output
coverage/
*.log

# typescript
*.tsbuildinfo
