@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
  --p-button-primary-color: #fff;
  --p-menu-item-focus-background: var(--p-primary-200) !important;
}

* {
  font-family: "Montserrat", sans-serif;
}
